{% extends 'ortho_viewer/base.html' %}
{% load static %}
{% block content %}

<!-- Custom styles for this template-->
<link href="{% static 'css/orthoimage-fault.css' %}" rel="stylesheet">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class=" h3 mb-0 text-gray-800">{{orthoimage.title}}</h1>
    
    <a href="{% url 'faultform' pk=orthoimage.pk %}"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{% if superuser %}<i
            class="fas fa-download fa-sm text-white-50"></i> 고장위치 추가{% endif %}</a>
    
</div>

<body>
    <div style="text-align : center;">

       
        <div id="orthoimage-wrapper">
            <div id="openseadragon1" style="width: 1000px; height: 700px; float:left; background-color: #49524c; margin-right:10px"></div>

            {% for file in panelfault %}
            <img id="right-arrow-overlay{{file.id}}" src="{% static 'img/pin2.svg' %}" alt="Right arrow" width="20">
            {% endfor %}
            
            <script src="{% static '/js/openseadragon.min.js' %}"></script>
                <script type="text/javascript">
                    var viewer = OpenSeadragon({
                        id: "openseadragon1",
                        prefixUrl: "{% static 'img/openseadragon/' %}",
                        showNavigator:  true,
                        navigatorPosition:   "BOTTOM_LEFT",
                        gestureSettingsMouse: { clickToZoom: false},
                        tileSources: [{
                            type: 'image',
                            url:  '{{orthoimage.image.url}}',
                            tileOverlap: 1,
                            overlays: [
                            {% for file in panelfault %}
                            {
                                id: 'right-arrow-overlay{{file.id}}',
                                x: {{file.px_x}},
                                y: {{file.px_y}},
                                placement: 'BOTTOM',
                                checkResize: false
                            },
                            {% endfor %}
                            ],
                        }],                                
                    });

                    {% for file in panelfault %}
                    new OpenSeadragon.MouseTracker({
                        element: 'right-arrow-overlay{{file.id}}',
                        clickHandler: function(e{{file.id}}) {
                        
                        fault_detail_image({{file.id}})
                        }
                    });
                    {% endfor %}

            </script>                    
                            
        </div>

        <div>
            <div style="float:right; margin-right:100px;">
                <h3 style="color: black;">Detailed Image</h3>
                <div id="detail" style="width: 500px; height: 400px; background-color: #49524c; "></div>
            </div>
            <script type="text/javascript">
            function fault_detail_image(file_id){
                delete viewer2;
                var cell = document.getElementById("detail"); 
                while ( cell.hasChildNodes() ) { cell.removeChild( cell.firstChild ); }
                {% for file in panelfault %}
                if ({{file.id}} == file_id){
                    var viewer2 = OpenSeadragon({
                        id: "detail",
                        prefixUrl: "{% static 'img/openseadragon/' %}",
                        gestureSettingsMouse: { clickToZoom: false},
                        tileSources: [{
                            type: 'image',                                    
                            url:  '{{file.fault_image.url}}',
                            tileOverlap: 1,
                        }],                                
                    });  
                }
                {% endfor %}       
            }               
            </script>       
            </div>
            <div>
                <h1>
            </div>
            
        </div>
   
</body>
{% endblock content %}