{% extends 'ortho_viewer/base.html' %}
{% load static %}
{% block content %}

<!-- Custom styles for this template-->
<link href="{% static 'css/orthoimage-fault.css' %}" rel="stylesheet">

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class=" h3 mb-0 text-gray-800">{{orthoimage.title}}</h1>
    <a href="{% url 'faultform' pk=orthoimage.pk %}"
        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> 고장위치 추가</a>
</div>

<body>
    <div style="text-align : center;">
        <div id="orthoimage-wrapper">

            <img id="orthoimage" src="{{ orthoimage.image.url }}" alt="" />

            {% for file in panelfault %}

            <style>
                #faultmark{{file.id}}{
                    position:absolute;
                    left : calc({{file.px_x}}px - 22px);
                    top : calc({{file.px_y}}px - 40px);
                }
            </style>
            
            <a href="#myModal{{file.id}}"><img id="faultmark{{file.id}}" src={% static 'img/pin2.svg' %} width="5%" height="5%" onclick=fault_detail({{file.id}}) >
              
                <script src="https://code.jquery.com/jquery-latest.js"></script>

                <script type="text/javascript">
                    function fault_detail(file_id) {
                        $('#myModal'+file_id).show();
                    }
                    //팝업 Close 기능
                    function close_pop(file_id) {
                        $('#myModal'+file_id).hide();
                    };
                
                </script>               

                <!-- The Modal -->
                <div id="myModal{{file.id}}" class="modal">
                    
                    <!-- Modal content -->
                    <div class="modal-content">
                        <div class="modal-images">
                            <img id="modal_orthoimage" src="{{ orthoimage.image.url }}" width="50%" alt="" style=" padding-right: 50px ;"/>
                            <img id="modal_fault_image" src="{{ file.fault_image.url }}"  width="30%" alt="" />
                            <style>
                                #modal_faultmark{{file.id}}{
                                    position:absolute;
                                    left : calc(({{file.px_x}}px - 22px)*0.8);
                                    top : calc(({{file.px_y}}px - 40px)*0.65);
                                }
                            </style>
                            <div>
                                <a "><img id="modal_faultmark{{file.id}}" src={% static 'img/pin2.svg' %} width="5%" height="5%" >
                            </div>
                        </div>
                        <p style="text-align: center;"><span style="font-size: 14pt;"><b><span
                                        style="font-size: 24pt;">고장</span></b></span></p>

                        <p><br /></p>
                        <div style="cursor:pointer;background-color:#DDDDDD;text-align: center;padding-bottom: 10px;padding-top: 10px;"
                            onClick="close_pop({{file.id}});">
                            <span class="pop_bt" style="font-size: 13pt;">
                                닫기
                            </span>
                        </div>
                    </div>
                
                </div>
                <!--End Modal-->
            {% endfor %}
        </div>
    </div>
</body>




{% endblock content %}